################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/VQ-VAE/FileContentIndex/f75ac187-c369-49a5-8062-ea3f9c3c5259.vsidx
